{{ ansible_managed|comment }}

{% if zookeeper_reconfig %}
{% for server in zookeeper_hosts %}
server.{{server.id | default(loop.index)}}={{server.host}}:{{server.port1 | default(2888)}}:{{server.port2 | default(3888)}};{{ server.client_port | default(zookeeper_client_port)}}
{% endfor %}
{% endif %}

{% if zookeeper_dynamic_config_map is defined %}
{% for config in zookeeper_dynamic_config_map %}
{% if config.value|string|length > 0 %}
{{config.key}}={{config.value}}
{% endif %}
{% endfor %}
{% endif %}
