{{ ansible_managed|comment }}

ZOOCFGDIR={{ zookeeper_etc_dir }}

{% if zookeeper_env is defined %}
# systemd block
{% for key, value in zookeeper_env.items() | sort %}
{{key}}={{value}}
{% endfor %}
{% endif %}
