{{ ansible_managed|comment }}

{% if _zookeeper_service_name != 'zookeeper' %}
	{% set env_file = '/etc/sysconfig/zookeeper@%i' %}
{% else %}
	{% set env_file = '/etc/sysconfig/zookeeper'  %}
{% endif %}

[Unit]
Description=ZooKeeper Service for version {{ zookeeper_version }} 
After=network.target

[Service]
# Fix issue with stopping process https://stackoverflow.com/questions/45953678/unit-falling-into-a-failed-state-status-143-when-stopping-service
SuccessExitStatus=143
Type=forking
User={{ zookeeper_user }}
Group={{ zookeeper_group }}
EnvironmentFile={{ env_file }}
ExecStart={{ zookeeper_install_path }}/bin/zkServer.sh start
ExecStop={{ zookeeper_install_path }}/bin/zkServer.sh stop
ExecReload={{ zookeeper_install_path }}/bin/zkServer.sh restart

[Install]
WantedBy=multi-user.target
